@namespace url(http://www.w3.org/1999/xhtml);

/* i really want this to be global */

@-moz-document domain("speckyboy.com") {
    .share-bar {
        position:absolute !important;
    }
}

@-moz-document domain("materialdesignblog.com") {
    #top-navigation, .morph-main-menu-button-wrapper {
        position:absolute !important;
    }
}

@-moz-document domain("www.wired.com") {
    #global-header {
        position:absolute !important;
    }
}

@-moz-document domain("medium.com") {
    .postActionsBar.js-postActionsBar.is-visible {
        display:none !important;
    }

    nav {
        position:absolute !important;
        top:0 !important;
        visibility:visible !important;
        transform:translate(0) !important;
        box-shadow: 0 0 transparent !important;
    }
}

@-moz-document domain("forbes.com") {
    /* Optional, doesn't involve the content of the page */
    .article-sidebar .utilities {
        margin-top:0 !important;
    }
}

/* Wordpress, like in the washington post */
.site-header.fixed, .top-sharebar-fixed {
    position:absolute !important;
}

/*Meteo Paris, Grenoble, ...*/
#fixe-haut {
   position:absolute
}

#fixe-bas {
    position:static;
}

@-moz-document domain("www.nytimes.com") {
    .masthead {
        position:absolute !important;
    }
}

@-moz-document domain("plus.google.com") {
    .Wxeofe {
        position:absolute !important;
    }

    [role="banner"] {
        transform:translate(0) !important;
    }
}


@-moz-document domain("qz.com") {
    #header {
        position:static !important;
    }
}

@-moz-document domain("www.houzz.fr") {
    #navHeader {
        position:relative;
    }
}

@-moz-document domain("www.quora.com") {
    .SiteHeader {
        position:relative;
    }
}

@-moz-document domain("stackexchange.com") {
    #noscript-warning {
       position:absolute;
    }
}

@-moz-document domain("clubic.com") {
    .header-fixed .header-body {
       position:static
    }
}

@-moz-document domain("thomasbyttebier.be") {
    nav { position: static}
}

@-moz-document domain("nautil.us") {
    .main-header {
        position:static;
    }
}

@-moz-document domain("www.theatlantic.com") {
    body {
        padding-top: 0 !important;
    }

    #site-header-container {
        position:static !important;
    }
}
